@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #3c3c3c;
  background: #fff;
}

@layer components {
  .btn {
    @apply py-2 px-4 m-2 rounded transition-all;
  }

  .small {
    @apply px-4;
  }

  .medium {
    @apply px-8;
  }

  .large {
    @apply px-12;
  }

  .primary {
    @apply bg-gray-100 text-black;
  }

  .primary:hover {
    @apply bg-gray-400;
  }

  .secondary {
    @apply bg-gray-800 text-white;
  }

  .secondary:hover {
    @apply bg-gray-600;
  }

  .tertiary {
    @apply bg-white text-black border border-black;
  }

  .tertiary:hover {
    @apply bg-gray-100;
  }

  .disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}
